# Исследование надежности заемщиков

## Откройте таблицу и изучите общую информацию о данных

**Задание 1. Импортируйте библиотеку pandas. Считайте данные из csv-файла в датафрейм и сохраните в переменную `data`. Путь к файлу:**

`/datasets/data.csv`

In [1]:
import pandas as pd

try:
    data = pd.read_csv('/datasets/data.csv')
except:
    data = pd.read_csv('https://code.s3.yandex.net/datasets/data.csv')

**Задание 2. Выведите первые 20 строчек датафрейма `data` на экран.**

In [2]:
data.head(20)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,-4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,-792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
13,0,-1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,-1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости
15,1,-972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820.904450,строительство собственной недвижимости
16,0,-1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202.704229,недвижимость
17,0,-2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410.586745,строительство недвижимости
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля
19,0,-10038.818549,48,СРЕДНЕЕ,1,в разводе,3,F,сотрудник,0,242831.107982,на покупку своего автомобиля

**Задание 3. Выведите основную информацию о датафрейме с помощью метода `info()`.**

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

## Предобработка данных

### Удаление пропусков

**Задание 4. Выведите количество пропущенных значений для каждого столбца. Используйте комбинацию двух методов.**

In [4]:
data.isna().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

**Задание 5. В двух столбцах есть пропущенные значения. Один из них — `days_employed`. Пропуски в этом столбце вы обработаете на следующем этапе. Другой столбец с пропущенными значениями — `total_income` — хранит данные о доходах. На сумму дохода сильнее всего влияет тип занятости, поэтому заполнить пропуски в этом столбце нужно медианным значением по каждому типу из столбца `income_type`. Например, у человека с типом занятости `сотрудник` пропуск в столбце `total_income` должен быть заполнен медианным доходом среди всех записей с тем же типом.**

In [5]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['total_income'].isna()), 'total_income'] = \
    data.loc[(data['income_type'] == t), 'total_income'].median()

### Обработка аномальных значений

**Задание 6. В данных могут встречаться артефакты (аномалии) — значения, которые не отражают действительность и появились по какой-то ошибке. таким артефактом будет отрицательное количество дней трудового стажа в столбце `days_employed`. Для реальных данных это нормально. Обработайте значения в этом столбце: замените все отрицательные значения положительными с помощью метода `abs()`.**

In [6]:
data['days_employed'] = data['days_employed'].abs()

**Задание 7. Для каждого типа занятости выведите медианное значение трудового стажа `days_employed` в днях.**

In [7]:
data.groupby('income_type')['days_employed'].agg('median')

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          2689.368353
компаньон            1547.382223
пенсионер          365213.306266
предприниматель       520.848083
сотрудник            1574.202821
студент               578.751554
Name: days_employed, dtype: float64

У двух типов (безработные и пенсионеры) получатся аномально большие значения. Исправить такие значения сложно, поэтому оставьте их как есть. Тем более этот столбец не понадобится вам для исследования.

**Задание 8. Выведите перечень уникальных значений столбца `children`.**

In [8]:
data['children'].unique()

array([ 1,  0,  3,  2, -1,  4, 20,  5])

**Задание 9. В столбце `children` есть два аномальных значения. Удалите строки, в которых встречаются такие аномальные значения из датафрейма `data`.**

In [9]:
data = data[(data['children'] != -1) & (data['children'] != 20)]

**Задание 10. Ещё раз выведите перечень уникальных значений столбца `children`, чтобы убедиться, что артефакты удалены.**

In [10]:
data['children'].unique()

array([1, 0, 3, 2, 4, 5])

### Удаление пропусков (продолжение)

**Задание 11. Заполните пропуски в столбце `days_employed` медианными значениями по каждого типа занятости `income_type`.**

In [11]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['days_employed'].isna()), 'days_employed'] = \
    data.loc[(data['income_type'] == t), 'days_employed'].median()

**Задание 12. Убедитесь, что все пропуски заполнены. Проверьте себя и ещё раз выведите количество пропущенных значений для каждого столбца с помощью двух методов.**

In [12]:
data.isna().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

### Изменение типов данных

**Задание 13. Замените вещественный тип данных в столбце `total_income` на целочисленный с помощью метода `astype()`.**

In [13]:
data['total_income'] = data['total_income'].astype(int)

### Обработка дубликатов

**Задание 14. Обработайте неявные дубликаты в столбце `education`. В этом столбце есть одни и те же значения, но записанные по-разному: с использованием заглавных и строчных букв. Приведите их к нижнему регистру. Проверьте остальные столбцы.**

In [14]:
data['education'] = data['education'].str.lower()

**Задание 15. Выведите на экран количество строк-дубликатов в данных. Если такие строки присутствуют, удалите их.**

In [15]:
data.duplicated().sum()

71

In [16]:
data = data.drop_duplicates()

### Категоризация данных

**Задание 16. На основании диапазонов, указанных ниже, создайте в датафрейме `data` столбец `total_income_category` с категориями:**

- 0–30000 — `'E'`;
- 30001–50000 — `'D'`;
- 50001–200000 — `'C'`;
- 200001–1000000 — `'B'`;
- 1000001 и выше — `'A'`.


**Например, кредитополучателю с доходом 25000 нужно назначить категорию `'E'`, а клиенту, получающему 235000, — `'B'`. Используйте собственную функцию с именем `categorize_income()` и метод `apply()`.**

In [17]:
def categorize_income(income):
    try:
        if 0 <= income <= 30000:
            return 'E'
        elif 30001 <= income <= 50000:
            return 'D'
        elif 50001 <= income <= 200000:
            return 'C'
        elif 200001 <= income <= 1000000:
            return 'B'
        elif income >= 1000001:
            return 'A'
    except:
        pass

In [18]:
data['total_income_category'] = data['total_income'].apply(categorize_income)

**Задание 17. Выведите на экран перечень уникальных целей взятия кредита из столбца `purpose`.**

In [19]:
data['purpose'].unique()

array(['покупка жилья', 'приобретение автомобиля',
       'дополнительное образование', 'сыграть свадьбу',
       'операции с жильем', 'образование', 'на проведение свадьбы',
       'покупка жилья для семьи', 'покупка недвижимости',
       'покупка коммерческой недвижимости', 'покупка жилой недвижимости',
       'строительство собственной недвижимости', 'недвижимость',
       'строительство недвижимости', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля',
       'операции с коммерческой недвижимостью',
       'строительство жилой недвижимости', 'жилье',
       'операции со своей недвижимостью', 'автомобили',
       'заняться образованием', 'сделка с подержанным автомобилем',
       'получение образования', 'автомобиль', 'свадьба',
       'получение дополнительного образования', 'покупка своего жилья',
       'операции с недвижимостью', 'получение высшего образования',
       'свой автомобиль', 'сделка с автомобилем',
       'профильное образование', 'высшее образование',
       'покупка жилья для сдачи', 'на покупку автомобиля', 'ремонт жилью',
       'заняться высшим образованием'], dtype=object)

**Задание 18. Создайте функцию, которая на основании данных из столбца `purpose` сформирует новый столбец `purpose_category`, в который войдут следующие категории:**

- `'операции с автомобилем'`,
- `'операции с недвижимостью'`,
- `'проведение свадьбы'`,
- `'получение образования'`.

**Например, если в столбце `purpose` находится подстрока `'на покупку автомобиля'`, то в столбце `purpose_category` должна появиться строка `'операции с автомобилем'`.**

**Используйте собственную функцию с именем `categorize_purpose()` и метод `apply()`. Изучите данные в столбце `purpose` и определите, какие подстроки помогут вам правильно определить категорию.**

In [20]:
def categorize_purpose(row):
    try:
        if 'автом' in row:
            return 'операции с автомобилем'
        elif 'жил' in row or 'недвиж' in row:
            return 'операции с недвижимостью'
        elif 'свад' in row:
            return 'проведение свадьбы'
        elif 'образов' in row:
            return 'получение образования'
    except:
        return 'нет категории'

In [21]:
data['purpose_category'] = data['purpose'].apply(categorize_purpose)

### Шаг 3. Исследуйте данные и ответьте на вопросы

#### 3.1 Есть ли зависимость между количеством детей и возвратом кредита в срок?

In [22]:
data_chi = data.groupby('children').agg({'debt': ['count', 'mean']})
data_chi = data_chi.rename(columns={'count': 'Количество строк', 'mean': 'Среднее'})
data_chi.sort_values(('debt','Среднее'), ascending=True)

                     debt
         Количество строк   Среднее
children
5                       9  0.000000
0                   14091  0.075438
3                     330  0.081818
1                    4808  0.092346
2                    2052  0.094542
4                      41  0.097561

***Вывод:
    Из данной таблицы можно сделать вывод, что клиенты без детей - самые ответственные по выплате кредита в срок(максимально ответственные клиенты с 5ю детьми, но их ничтожно мало в выборке, поэтому можно данные по этим клиентам пропустить, не умаляя при этом заслуг этих ответсттвенных девяти клиентов), что впринципе логично, тк дети являются большой статьей расходов в семейном бюджете. 
    В целом заметна тенденция, чем больше детей, тем больше просроченной задолженности по платежам, однако клиенты с 3мя детьми более отвественны, чем остальные родители. Возможно данный "всплеск" связан с тем, что в выборке таких клиентов кратно меньше, чем в других категориях***

#### 3.2 Есть ли зависимость между семейным положением и возвратом кредита в срок?

In [23]:
data_fam = data.groupby('family_status').agg({'debt': ['count', 'mean']})
data_fam = data_fam.rename(columns={'count': 'Количество строк', 'mean': 'Среднее'})
data_fam.sort_values(('debt','Среднее'), ascending=True)

                                  debt
                      Количество строк   Среднее
family_status
вдовец / вдова                     951  0.066246
в разводе                         1189  0.070648
женат / замужем                  12261  0.075606
гражданский брак                  4134  0.093130
Не женат / не замужем             2796  0.097639

***Вывод: Здесь мы видим, что более ответственные плательщики - это вдовцы и разведенные клиенты, предположу, что у них есть понимание, что ответственность по платежам им разделить не с кем, как это было ранее, когда они не были одиноки, поэтому подходят более серьезно к этому делу. Женатые клиенты, которых большинство в нашей выборке являются этакой "золотой серединой", и заметно превосходят неженатых и людей живущих в гражданском браке по показателю просроченных платежей***

#### 3.3 Есть ли зависимость между уровнем дохода и возвратом кредита в срок?

In [24]:
data_inc = data.groupby('total_income_category').agg({'debt': ['count', 'mean']})
data_inc = data_inc.rename(columns={'count': 'Количество строк','mean': 'Среднее'})
data_inc.sort_values(('debt','Среднее'), ascending=True)

                                  debt
                      Количество строк   Среднее
total_income_category
D                                  349  0.060172
B                                 5014  0.070602
A                                   25  0.080000
C                                15921  0.084982
E                                   22  0.090909

***Вывод: Исходя из данной таблицы можно сделать вывод, что самые добросовестные плательщики это клиенты с небольшим доходом 30-50 т.р., это можно объяснить тем что данные клиенты стараются не испортить свою кредитную историю, т.к. наверняка кредиты являются для них достаточно удобным инструментом и им они пользуются часто. В то же время, если обратить внимание, что таких записей существенно меньше, чем в категории B(200-1000 т.р.) и С(50-200 т.р.), то выводы становятся не столь однозначными, и например, при объединении с категорией Е(доход до 30 т.р.) мы уже бы увидели снижение средних показателей по просрочке. С учетом вышесказанного, категорию B можно тоже причислить к лидерам, что вполне логично, так как клиенты имеют высокий доход и ответственно подходят к платежам. И получается, что клиенты с низкими(до 30 т.р., но ими можно пренебречь ввиду маленькой выборки в нашей таблице)и со средними доходами 50-200 т.р. самые "неблагонадежные", возможное объяснение этому вижу в том что у данной категории по нескольку кредитов сразу, и общая финансовая нагрузка растет***

#### 3.4 Как разные цели кредита влияют на его возврат в срок?

In [25]:
data_pur = data.groupby('purpose_category').agg({'debt': ['count', 'mean']})
data_pur = data_pur.rename(columns={'count': 'Количество строк','mean': 'Среднее'})
data_pur.sort_values(('debt','Среднее'), ascending=True)

                                     debt
                         Количество строк   Среднее
purpose_category
операции с недвижимостью            10751  0.072551
проведение свадьбы                   2313  0.079118
получение образования                3988  0.092528
операции с автомобилем               4279  0.093480

***Вывод: Чаще всего платят в срок по кредитам связанным с недвижимостью, это и понятно, ведь ипотека это большая отвественность, несмотря на большие в сравнении другими категориями платежи, по кредитам на свадьбу тоже неплохие результаты, возможно сказывается тот фактор, что новоиспеченные семьи хотят поскорее избавиться от долгов. Категории по кредитам на образование и автокредиты у нас являются аутсайдерами, по первым, вероятнее всего процент по просрочкам хуже, тк наверняка не все доучиваются до конца, или не находят достойную /не очень быстро находят работу, чтобы поскорее отдать кредит. Автомобилистов вероятно подводят дополнительные постоянные расходы на авто***

#### 3.5 Приведите возможные причины появления пропусков в исходных данных.

***Ответ: Пропуски у нас были в столбце days_employed-общий трудовой стаж в днях и в столбце total_income - ежемесячный доход
пропуски в первом столбце можно объяснить каким то техническим багом(возможно у отдельных категорий кто-то забыл перевести минуты в дни), тк значения сильно искажены. По второму столбцу причины более очевидны, не все хотят раскрывать свой ежемесячный доход, и поэтому он не был указан***

#### 3.6 Объясните, почему заполнить пропуски медианным значением — лучшее решение для количественных переменных.

***Ответ: все зависит конечно от выборки, но в нашем проекте заполнение пропусков медианным значением обусловлено тем, что медиана гораздо точнее покажет ожидаемый результат, нежели средняя, тк имеются достаточно много выбросов в данных (например даже немногочисленная категория клиентов (около 0,1% от всей выборки) с доходом более 1 млн могут сильно повысить среднюю в целом, также как и совсем бедные (примерно те же 0,1% от выборки) ее резко снизить)***

### Шаг 4: общий вывод.

Для анализа данных по просроченным кредитам нами был получен файл data. Данный файл не был идеальным, и содержал пропуски в двух столбцах. В столбец с общим трудовым стажем в днях закралась, вероятно, техническая ошибка и пропуски в этом столбце мы заполнили медианным значением. На вывод это в целом никак не повлияло, тк данный столбец в расчетах не принимал участие. Аналогично заполнили медианным значением пропуски в столбце "ежемесячный доход", здесь пропуски вероятней всего связаны с нежеланием некоторых клиентов раскрывать свой доход. Заполнили медианой, тк в выборке присутствует достаточно много выбросов данных, слишком больших и слишком маленьких значений, которые при расчете средней выдавали бы менее точные результаты.
Продолжая обработку файла выявили в столбце "Дети" несколько аномальных значений, и успешно от них избавились Также привели в порядок столбец с ежемесячным доходом, данные в нем изначально не были записаны в числовом формате и столбец с образованием привели к единому регистру. После сделанных изменений мы проверили таблицу на наличие строк-дубликатов и убрали лишние данные.

Перед началом анализа подготовили и сгруппировали данные по нескольким параметрам:

Разбили клиентов на группы по доходу

Отсортировали и выявили 4 цели, на которые клиенты берут кредиты

Приведя файл в нормальный вид мы начали наш анализ.

С помощью группировки и аггрегации по параметрам количества и средней мы вяснили некторые закономерности:

Выяснили, что существует зависимость между количеством детей и возвратом кредита в срок, а именно, что чем больше детей, тем больше риск просрочки платежа (с небольшими погрешностями с семьями с 3мя детьми, но данных по этой категории клиентов в нашей выборке не так много, поэтому при выводе мы опускаем эти данные)

Разница между максимальными и минимальными средними значениями по количеству детей составляет 20,2%
Также обнаружилось влияние семейного положения на просрочку кредитов. Вдовцы и разведенные оказались самыми благонадежными клиентами, с очень большой разницей опережая незамужних и живущих в гражданском браке. По этому параметру самая большая разница между максимальными и минимальными средними значениями

Разница между максимальными и минимальными средними значениям по семейному положению равна 32,1%
На удивление самой минимальной оказалась зависимость между уровнем дохода и возвратом кредита в срок. Клиенты с высоким доходом, как и ожидалось, стали лидерами по этому показателю, но и остальные категории клиентов "недалеко ушли"

Разница между максимальными и минимальными средними значениям по уровню дохода 16,8% 
И наконец изучение влияния цели кредита на возврат кредита нам показало, что люди, взявшие ипотеку наиболее ответственно подходят к погашению кредита, что в целом ожидаемо и объяснимо более строгим отбором заемщиков и более серьёзным отношением со стороны самих клиентов. Кредиторы на образование и авто в данном случае аутсайдеры

Разница между максимальными и минимальными средними значениям по целям кредита 22,3%
Исходя из изложенного выше можем сделать вывод, что все изученные категории в той или иной степени влияют на возврат кредита в срок, а самое большое влияние имеет параметр "Семейное положение"¶